/* CSS Resets */
* { box-sizing: border-box; } /* Switch to border-box for box-sizing. */

body {
    margin: 0; /* Remove the tiny space around the edge of the page */
}

img, video, canvas, audio, iframe, embed, object  { 
    display: block; /* Switch display mode to block, since that's what we usually want for images. */
}
/* End CSS Resets */

:root {
    --font-size: 18px;
    --background-color: gray;
    --chart-background_color: white;
    --button-background-color: rgb(240, 240, 240);
}

body {
    background-color: var(--background-color);
}

body, button, select {
    font-size: var(--font-size);
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

button {
    background-color: var(--button-background-color);
    border: 0;
}

button:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250);
}

select:enabled:hover {
    cursor: pointer;
}

p {
    cursor: default;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin-block: 1rem;
}

.tabs {
    display: flex;
    justify-content: start;
}

.chartButton {
    border: 0;
    padding: 0.25em;

    border-right: 1px var(--background-color) solid;
    border-bottom: 1px var(--background-color) solid;
}

.chartButton[data-visible=true] {
    background-color: var(--chart-background_color);
    border-bottom-color: var(--chart-background_color);
}

canvas {
    position: relative; 
    height: 300px;
}

.chart {
    padding: 0.5rem;
    padding-block-start: 0;
    background-color: var(--chart-background_color);
}

.controls {
    display: flex;
    justify-content: space-between;
}

.toggleButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25em;
}

.toggleButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.toggleButton::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f111";
    
    color: red;
}

.toggleButton[data-enabled=true]::after {
    color: rgb(0, 200, 0);
}

.startStop {
    font-size: 3rem;
    width: 3.5em;
    
}

.channel {
    display: flex;
}

.channel div {
    display: flex;
    align-items: center;

    background-color: var(--button-background-color);
    padding: 0.5rem;
}

.channel p {
    margin: 0;
    margin-inline-end: 0.5em;
}

.channel select {
    height: 100%;
}